@model TESTFamifedScreens.DAL.Entities.FoodRequest

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FoodRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="RequestBy.FirstName" class="control-label"></label>
                <input asp-for="RequestBy.FirstName" class="form-control" />
                <span asp-validation-for="RequestBy.FirstName" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsThirsty" /> @Html.DisplayNameFor(model => model.IsThirsty)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="FlowStatusId" class="control-label"></label>
                <input asp-for="FlowStatusId" class="form-control" />
                <span asp-validation-for="FlowStatusId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TimeOfReview" class="control-label"></label>
                <input asp-for="TimeOfReview" class="form-control" />
                <span asp-validation-for="TimeOfReview" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeOfOrder" class="control-label"></label>
                <input asp-for="TimeOfOrder" class="form-control" />
                <span asp-validation-for="TimeOfOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remark" class="control-label"></label>
                <input asp-for="Remark" class="form-control" />
                <span asp-validation-for="Remark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
